Proyecto 1/CIA2018-HorariosDefensa-Proyecto1.pdf
Proyecto 1/CIA2018-Proyecto1-Logica-Prolog.pdf
Proyecto 2/CIA2018-Proyecto2-BusquedaInformada-Prolog/__MACOSX/
Proyecto 2/CIA2018-Proyecto2-BusquedaInformada-Prolog/CIA2018-Proyecto2-BusquedaInformada-Prolog.pdf
Proyecto 2/CIA2018-Proyecto2-BusquedaInformada-Prolog.zip
Proyecto 2/coti.pl
Proyecto 2/Informe Proyecto 2 CIA.docx
Proyecto 2/~WRL2758.tmp